<div class="row">
  <div *ngFor="let collegue of collegues" class="col-2 text-center" width="20rem">

    <div class="card ">
        <a routerLink="/details/{{collegue.nom}}" RouterLinkActive="active-link"><img class="card-img-top img-rounded" src={{collegue.imageUrl}} alt="Photo du collegue" width="100%" height="250px" style="border-radius:100"
      /></a>
      <div class="card-block">
        <h4 class="card-title"> {{collegue.nom}}</h4>
        <h4>{{collegue.score}}</h4>
        
        <button (click)="jaime(collegue)" class="btn btn-outline-primary">J'aime</button>
        <button (click)="jedeteste(collegue)" class="btn btn-outline-danger">Je déteste</button>     
      </div>
    </div>
  </div>