<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" >Pseudo</th>
        <th scope="col">Score</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let collegue of collegues">
            <button (click)="deleteUnCollegue(collegue.nom)" class="btn btn-outline-danger">X</button>
          <td scope="row">
            <a routerLink="/details/{{collegue.nom}}" RouterLinkActive="active-link"><img class="card-img-top img-thumbnail" src={{collegue.imageUrl}} alt="Photo du collegue" style="width:200px" /></a>
          </td>
          <td scope="row">{{collegue.nom | uppercase}}</td>
          <td scope="row">{{collegue.score}}</td>
          <td scope="row">
              <button (click)="jaime(collegue)" class="btn btn-outline-primary" [disabled]="!actif">J'aime</button>
              <button (click)="jedeteste(collegue)" class="btn btn-outline-danger" [disabled]="!actif">Je déteste</button>     
          </td>
        </tr>
    </tbody>
  </table>
  </div>