
  <img class="card-img-top img-responsive" src={{collegue.image}} alt="Photo du collegue" width="100%" height="250px" style="border-radius:100"/>
  <div class="card-block">
    <h4 class="card-title"> {{collegue.nom}}</h4>
    <h2 class="card-text">{{collegue.score}}</h2>
    <div class="row">
      <button (click)="jaime()" class="btn btn-outline-primary col-md-4">J'aime</button>
      <button (click)="jedeteste()" class="btn btn-outline-danger col-md-4 offset-4">Je déteste</button>
    </div>