<div class="container-fluid">
  <div class="card bg-light p-2 mb-1">
    <div class="card-body">
      <h1>
        Top collegues
      </h1>
      <h5>Les meilleurs collegues du moment </h5>
      <div class="row">
        <label class="col-md-3">Pseudo</label>
        <div class="col-md-9">
          <input type="text" class="form-control" #pseudo>
        </div>
      </div>
      <div class="row">
        <label class="col-md-3">URL image </label>
        <div class="col-md-9">
          <input type="text" class="form-control" #imageUrl>
        </div>
      </div>
      <button class="btn btn-primary" (click)="add(pseudo, imageUrl)">Ajouter un nouveau collegue</button>
      <ngb-alert [hidden]="onAdd" role="alert" (close)="onAdd = true">Ajout réussi</ngb-alert>
      <ngb-alert [hidden]="onError" role="alert" (close)="onError = true">Vous devez remplir tous les champs</ngb-alert>
    </div>
  </div>
      <ul class="nav nav-justified">
         <li class="nav-item"><a class="nav-link" routerLink="/classique" RouterLinkActive="active-link"><h3>Classique</h3></a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/tableau" RouterLinkActive="active-link"><h3>Tableau</h3></a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/carrousel" RouterLinkActive="active-link"><h3>Carrousel</h3></a></li>
        </ul>
      
      <router-outlet></router-outlet>
          

</div>