
<nav>
  <button type="button" class="btn btn-light" (click)="retour()">Retour</button>
</nav>

<div class="card text-center">
  <img src={{collegue.imageUrl}} width=50% alt="Photo du collegue" class="rounded mx-auto d-block"/>

  <h4> {{collegue.nom}}</h4>
  <h4>{{collegue.score}}</h4>
  
    <button (click)="jaime(collegue)" class="btn btn-outline-primary" [disabled]="!actif">J'aime</button>
    <button (click)="jedeteste(collegue)" class="btn btn-outline-danger" [disabled]="!actif">Je déteste</button>     
</div>